<div>
  <table class="table">
    <tbody>
      <% @updates_by_week.each do |(week_number, updates)| %>
        <tr>
          <td colspan="2">
            <% if playlist_exists?(week_number.to_s) %>
              <i class="glyphicon glyphicon-ok" style="color: green; font-size: 12px;"></i>
            <% else %>
              <i class="glyphicon glyphicon-remove" style="color: red; font-size: 12px;"></i>
            <% end %>

            <a href="/weeks/<%= week_number %>"><%= week_number %></a>
          </td>
        </tr>
      <% end %>
    </tbody>
  <table>
</div>
